/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
# !/.yarn/cache
/.pnp.*
.parcel-cache/0a446fac155c6cb7
.parcel-cache/2d4528686babda00
.parcel-cache/3cd50287f7d4af83.txt
.parcel-cache/29d61689fa799a92
.parcel-cache/98179e0db08c7c75
.parcel-cache/3112263473f6213d
.parcel-cache/b9cf35726adce341
.parcel-cache/bd7e9f2bce4c4eac
.parcel-cache/d765d4214a7b020d.txt
.parcel-cache/data.mdb
.parcel-cache/e7b9f48308893fd1
.parcel-cache/f842d07805e62808
.parcel-cache/lock.mdb
