html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
}

main {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-auto-flow: column;
    place-items: stretch;
    gap: 1rem;
    grid:
        45% 45%
        / 50% 50%;
}

article {
    display: grid;
    gap: 0.5rem;
    grid:
        "title title" 25%
        "left right" 75%
        / 50% 50%;

    header {
        grid-area: title;
        font-size: 5vh;
        place-self: center;
    }

    .counter {
        display: grid;
        grid:
            "top" 20%
            "mid" 60%
            "bot" 20%;
        place-items: stretch;

        button {
            font-size: 5vh;
        }
        .amount {
            place-self: center;
            font-size: 20vh;
        }
    }

    .counter.erfolg {
        grid-area: right;
        .amount {
            color: green;
        }
    }
    .counter.fehler {
        grid-area: left;
        .amount {
            color: red;
        }
    }
}
